<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Đăng nhập - Shop Online</title>
  <link rel="stylesheet" href="static\style-login.css" />
</head>
<body>
  <header class="header">
    <div class="logo">🛒 <a href="{{ url_for('index') }}">Shop Online</a></div>
    <a class="help-link" href="#">Bạn cần giúp đỡ?</a>
  </header>

  <div class="container">
    <div class="banner">
      <img src="{{ url_for('static', filename='ảnh khác/logo.png') }}" alt="Shop online">
    </div>

    <div class="login-box">
      <h2>Đăng kí</h2>

      <form id="loginForm">
        <input type="text" placeholder="Số điện thoại / Email" required>
        <input type="password" placeholder="Mật khẩu" required>
        <input type="password" placeholder="Nhập lại mật khẩu" required>
        <button type="submit">ĐĂNG KÝ</button>
      </form>
      <div class="or-line">HOẶC</div>

      <div class="social-login">
        <button class="facebook">Facebook</button>
        <button class="google">Google</button>
      </div>

      <div class="register-text">
        Bạn đã có tài khoản <a href="login.html">Đăng nhập</a>
      </div>
    </div>
  </div>

  <div class="info-section">
    <div class="info-column">
      <h4>THANH TOÁN</h4>
      <div class="icon-grid">
        <img src="{{ url_for('static', filename='thanh toán/visa.png') }}" alt="Visa">
        <img src="{{ url_for('static', filename='thanh toán/mastercard.png') }}" alt="MasterCard">
        <img src="{{ url_for('static', filename='thanh toán/jcb.jpeg') }}" alt="JCB">
        <img src="{{ url_for('static', filename='thanh toán/amx.png') }}" alt="Amex">
        <img src="{{ url_for('static', filename='thanh toán/ship-cod.jpeg') }}" alt="COD">
        <img src="{{ url_for('static', filename='thanh toán/momo.png') }}" alt="momo">
        <img src="{{ url_for('static', filename='thanh toán/zalopay.png') }}" alt="zalopay">
      </div>
    </div>

    <div class="info-column">
      <h4>VẬN CHUYỂN</h4>
      <div class="icon-grid">
        <img src="{{ url_for('static', filename='vận chuyển/spx.jpeg') }}" alt="SPX">
        <img src="{{ url_for('static', filename='vận chuyển/GHN.png') }}" alt="GHN">
        <img src="{{ url_for('static', filename='vận chuyển/viettel post.png') }}" alt="Viettel Post">
        <img src="{{ url_for('static', filename='vận chuyển/vn post.png') }}" alt="VNPost">
        <img src="{{ url_for('static', filename='vận chuyển/j&t.png') }}" alt="J&T Express">
        <img src="{{ url_for('static', filename='vận chuyển/grab e.png') }}" alt="GrabExpress">
        <img src="{{ url_for('static', filename='vận chuyển/ninjavan.png') }}" alt="Ninja Van">
        <img src="{{ url_for('static', filename='vận chuyển/ahamove.png') }}" alt="Ahamove">
      </div>
    </div>

    <div class="info-column">
      <h4>THEO DÕI SHOP ONLINE</h4>
      <div class="social-icons">
        <a href="https://www.facebook.com/thienanh.hoang.988" target="_blank">
          <img src="{{ url_for('static', filename='ảnh khác/facebook.png') }}" alt="Facebook"> Facebook
        </a>
        <a href="https://www.instagram.com/thienanh.hoang.988?igsh=dHZqNWpoaGhlNTRn" target="_blank">
          <img src="{{ url_for('static', filename='ảnh khác/ins.jpeg') }}" alt="Instagram"> Instagram
        </a>
        <a href="https://www.threads.net/@thienanh.hoang.988" target="_blank">
          <img src="{{ url_for('static', filename='ảnh khác/thread.png') }}" alt="Thread"> Threads
        </a>
      </div>
    </div>
  </div>

  <footer>
    <p>&copy; 2025 Shop Online</p>
  </footer>
</body>
</html>
